    body {
    	font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    	background: url('/image/fond.jpg') repeat;
		  font-size:0.8em;
    	margin: 0;
    	padding: 0;
    	text-align: center;
    	color: #000000;
    }
    .monBody #container {
    	width: 900px;
    	margin: 0 auto;
    	text-align: left;
    	background:#ffffff;
    }
    .monBody #header {
		    height:300px;
    }
	.monBody #menu {
		height:22px;
		color:#ffffff;
		font-size:1.4em;
		background:#000000;
    }
  .monBody #contenu {
		 padding:20px;
    }
    .monBody #footer {
    padding: 0 10px;
		font-size:0.8em;
		text-align:center;
		height:150px;
		background:url(/image/footer.jpg) no-repeat;
    }
	#menu a	{
		color:#ffffff;
		text-decoration:none;
	}
  #menu {
    text-align: center;
  }
  #LogoNode {
      max-height: 20%;
      max-width: 20%;
  }
  .tabpayscir  {
 	  float:right;
 	  padding:10px;
 	  border:1px solid black;
 	  margin:10px
 	  -moz-border-radius:15px;
 	  border-radius:15px;
 }

 .myboth  {
 	  clear:both;
 }
 a  {
 	text-decoration:none;
 	color:#0072ff;
 }
 #listeImagesPilotes li{
   list-style-type: none;
   display:inline-block;
 }

  #listeImagesPilotes li img{
    width: 150px;
    height: 100px;
  }

  #detailCircuit{
    width:70%;
    display:inline-block;
  }
  #detailCircuit img{
    max-width: 500px;
    max-height: 500px;
  }

  #tableauResultats{
    width:70%;
    display: inline-block;
  }

  #form-connexion{
  	text-align: center;
  	background-color: rgba(0,0,0,0.3);
  	width: 50%;
  	margin: auto;
  	padding:10px;
  }

  #imageVoitures{
    display: inline-block;
  }
  #imageVoitures img{
    width: 200px;
    height: 150px;
  }

  .tableau td, .tableau th {
    border: 1px solid black;
}
  ul {
list-style:none;
}
  li{
    margin-top : 8px;
  }
  .imgPil{
    max-width: 200px;
    max-height: 75px;
  }

form{
  text-align: center;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #8A0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #B90000;
}
