<h1>Ajouter un pilote</h1>


<form method="post" action='/pilotes/ajouterPilote/insertionOK'>
  Prénom : <input type="text" id="prenom" name="PILPRENOM"> </br>

  Nom : <input type="text" id="nom" name="PILNOM"> </br>

  Date de naissance :
  <input type="date" id="dateNaissance" name="PILDATENAIS" size="6" required='true'>
  </br>
   </br>
   Nationalité : <select id="nationalite" name="PAYNUM">
     {{#each nationalitePilote}}
     <option value="{{this.PAYNUM}}">{{this.PAYNAT}}</option>
     {{/each}}
   </select>
  </br>
   Ecurie : <select id="ecurie" name="ECUNUM">
     {{#each ecuriePilote}}
     <option value="{{this.ECUNUM}}">{{this.ECUNOM}}</option>
     {{/each}}
   </select>
  </br>

   Points : <input type="number" name="PILPOINTS"> pts </br>

   Poids : <input type="number" name="PILPOIDS"> kg </br>

   Taille : <input type="number" name="PILTAILLE"> cm </br>

   Description :
   <textarea rows="1" cols="10" name="PILTEXTE" id="description">
   </textarea></br></br>

   <input type="submit" value="AJOUTER">
</form>
