<h1>Ajouter un pilote</h1>


<form method="post" action='/ajouterPilote/pilote'>
  Prénom : <input type="text" id="prenom" name="prenom"> </br>

  Nom : <input type="text" id="nom" name="nom"> </br>

  Date de naissance :
  <input type="number" id="jourNaissance" name="jourNaissance" size="2"> /
   <input type="number" id="moisNaissance" name="moisNaissance" size="2"> /
   <input type="number" id="anneeNaissance" name="anneeNaissance" size="4"> <br>

   Nationalité : <select id="nationalite">
     <option value="Allemande">Allemande</option>
     <option value="Française">Française</option>
   </select>

   Ecurie : <select id="ecurie">
     <option value="Ferrari">Ferrari</option>
     <option value="Hyundai">Hyundai</option>
   </select>

   Points : <input type="number" name="points"> pts <br>

   Taille : <input type="number" name="taille"> pts <br>

   Description :
   <textarea rows="10" cols="50" name="description" id="description">
   </textarea>

   <input type="submit" value="AJOUTER">
</form>
