<h1>Ajouter un pilote</h1>


<form method="post" action='/ajouterPilote/pilote'>
  Prénom : <input type="text" id="prenom" name="prenom"> </br>

  Nom : <input type="text" id="nom" name="nom"> </br>

  Date de naissance :
  <input type="number" id="jourNaissance" name="jourNaissance" size="2"> /
   <input type="number" id="moisNaissance" name="moisNaissance" size="2"> /
   <input type="number" id="anneeNaissance" name="anneeNaissance" size="4"> </br>
   </br>
   Nationalité : <select id="nationalite">
     {{#each nationalitePilote}}
     <option value="{{this.PAYNAT}}">{{this.PAYNAT}}</option>
     {{/each}}
   </select>
  </br>
   Ecurie : <select id="ecurie">
     {{#each ecuriePilote}}
     <option value="{{this.ECUNOM}}">{{this.ECUNOM}}</option>
     {{/each}}
   </select>
  </br>

   Points : <input type="number" name="points"> pts </br>

   Taille : <input type="number" name="taille"> pts </br>

   Description :
   <textarea rows="1" cols="10" name="description" id="description">
   </textarea></br></br>

   <input type="submit" value="AJOUTER">
</form>
